<nav [class.collapsed]="sidebarService.isCollapsed()" (dblclick)="onSidebarDblClick($event)">

  <ul class="nav-list">
    @for (item of menuItems(); track item.path) {
      <li>
        <a [routerLink]="item.path"
           routerLinkActive="active"
           [title]="sidebarService.isCollapsed() ? item.label : ''">
          <span class="icon">
            <i class="material-icons">{{ item.icon }}</i>
          </span>
          <span class="text">{{ item.label }}</span>
        </a>
      </li>
    }
  </ul>

  <div class="sidebar-empty-space"></div>
</nav>
