@use "../../../../app/app.scss" as app;

:host {
  display: block;
  height: 100%;
  width: 170px;
  transition: width 0.3s var(--ease, ease-in-out);
  flex-shrink: 0;

  // КОГДА СВЕРНУТ: хост сайдбара сжимается ровно до 48px
  &.collapsed {
    width: 48px;
  }
}

nav {
  background: var(--bg-card);
  height: 100%;
  display: flex;
  flex-direction: column; // Элементы выстраиваются вертикально
  border-right: 1px solid var(--border);
  overflow: hidden;

  // Запрещаем выделение текста при быстром двойном клике,
  // чтобы интерфейс не синел, как старый сайт
  user-select: none;
}

.sidebar-empty-space {
  flex: 1;
  width: 100%;
  cursor: pointer; // Даем понять пользователю, что зона кликабельна
}

ul {
  list-style: none;
  padding: 0.75rem; // Базовый отступ для развёрнутого вида
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  transition: padding 0.3s var(--ease, ease-in-out);
}

li {
  margin-bottom: 0.25rem;
}

a {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.625rem 0.75rem;
  border-radius: 0.5rem;
  color: var(--text-muted);
  text-decoration: none;
  transition: all 0.2s;
  white-space: nowrap;

  &:hover,
  &.active {
    background: var(--border);
    color: var(--text-main);

    .icon {
      color: var(--accent);
    }
  }
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

// ПОВЕДЕНИЕ КОМПОНЕНТОВ В СВЕРНУТОМ СОСТОЯНИИ (48px)
:host.collapsed {

  // 1. Схлопываем боковые отступы у самого списка, чтобы не зажимать иконку
  ul {
    padding: 0.75rem 0px; // Оставляем только верхний и нижний отступы
  }

  li {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  // 2. Делаем ссылку квадратной/круглой по центру, убирая внутренний padding
  a {
    justify-content: center;
    width: 40px;  // Оставляем 40px под размер кнопки (чтобы оставался зазор 4px до краев сайдбара)
    height: 40px;
    padding: 0;   // Сбрасываем внутренние отступы, так как размеры теперь фиксированные
    border-radius: 50px; // Если хотите круглый эффект при наведении, ставим 50px (или оставляем 0.5rem для квадрата)
  }

  // 3. Скрываем текст полностью
  .text {
    display: none;
  }
}

// Адаптивное скрытие на планшетах/мобилках
@media (max-width: 768px) {
  :host {
    position: fixed;
    top: 64px; // Встает встык ровно ПОД хедером
    left: 0;
    bottom: 0;
    width: 260px;
    box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.3);

    &.collapsed {
      width: 0 !important;
      * { display: none !important; }
    }
  }
}
