@use "../app/app.scss" as app;

$bg-main: app.$bg-main !default;
$bg-card: app.$bg-card !default;
$border: app.$border !default;
$text-main: app.$text-main !default;
$text-muted: app.$text-muted !default;
$accent: app.$accent !default;
$danger: app.$danger !default;
$success: app.$success !default;
$warning: app.$warning !default;

/* RGB fallback */
$bg-main-rgb: 15,17,42 !default;
$bg-card-rgb: 30,41,59 !default;
$border-rgb: 51,65,85 !default;
