<div class="auth-container">
  <div class="auth-card">
    <h2>Создать аккаунт</h2>
    <p class="subtitle">Присоединяйтесь к проекту ATMM</p>

    <form [formGroup]="regForm" (ngSubmit)="onSubmit()">
      <div class="input-group">
        <input formControlName="fullName" type="text" placeholder="Имя Фамилия" />
        <input formControlName="email" type="email" placeholder="Email" />
        <input formControlName="companyName" type="text" placeholder="Название компании" />
        <input formControlName="password" type="password" placeholder="Пароль" />
      </div>

      <button type="submit" [disabled]="regForm.invalid">Зарегистрироваться</button>
      
    </form>
    <p class="switch-auth">
        <a routerLink="/login">Войти</a>
    </p>
  </div>
</div>