<div class="auth-container">
  <div class="auth-card">
<!--    <div class="logo">-->
<!--      <div class="logo-icon">⚡</div>-->
<!--      <h1>ATMM</h1>-->
<!--    </div>-->

    <h2>{{'auth.register.title' | transloco}}</h2>
    <p class="subtitle">{{'auth.register.welcome' | transloco}}</p>

    @if (error()) {
      <div class="error-message">{{ error() }}</div>
    }

    <form [formGroup]="regForm" (ngSubmit)="onSubmit()">
      <div class="input-group">
        <div class="input-wrapper">
          <input formControlName="fullName" type="text" placeholder=" " />
          <label>{{'auth.register.userName' | transloco}}</label>
        </div>

        <div class="input-wrapper">
          <input formControlName="displayName" type="text" placeholder=" " />
          <label>{{'auth.register.memberName' | transloco}}</label>
        </div>

        <div class="input-wrapper">
          <input formControlName="email" type="email" placeholder=" " />
          <label>{{'auth.login.email' | transloco}}</label>
        </div>

        <div class="input-wrapper">
          <input formControlName="workspaceName" type="text" placeholder=" " />
          <label>{{'auth.register.workspaceName' | transloco}}</label>
        </div>

        <div class="input-wrapper">
          <input formControlName="password" type="password" placeholder=" " />
          <label>{{'auth.register.password' | transloco}}</label>
        </div>
      </div>

      <button type="submit" [disabled]="regForm.invalid || loading()">
        @if (loading()) {
          <span class="spinner"></span>
        }
        {{ (loading() ? 'auth.register.registering' : 'auth.register.register') | transloco }}
      </button>

      <p class="switch-auth">
        {{'auth.register.hasAccount' | transloco}} <a routerLink="/login">{{'auth.register.enter' | transloco}}</a>
      </p>
    </form>
  </div>
</div>
