@if (authStep() === 'login') {
  <div class="auth-container" appBackOnEscape>
    <div class="auth-card">

      <h2>{{'auth.login.title' | transloco}}</h2>
      <p class="subtitle">{{'auth.login.subtitle' | transloco}}</p>

      @if (error()) {
        <div class="error-message">{{ error() | transloco }}</div>
      }

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="input-group">
          <div class="input-wrapper">
            <input formControlName="email" type="email" placeholder=" "/>
            <label>{{'auth.login.email' | transloco}}</label>
          </div>

          <div class="input-wrapper">
            <input formControlName="password" type="password" placeholder=" "/>
            <label>{{'auth.login.password' | transloco}}</label>
          </div>
        </div>

        <button type="submit" [disabled]="loginForm.invalid || loading()">
          @if (loading()) {
            <span class="spinner"></span>
          }
          {{ (loading() ? 'auth.login.check' : 'auth.login.enter') | transloco }}
        </button>

        <p class="switch-auth">
          {{'auth.login.noAccount'| transloco}} <a routerLink="/register">{{'auth.login.register' | transloco}}</a>
        </p>
      </form>
    </div>
  </div>
} @else {
  <app-workspace-selector/>
}
