<div class="matrix-container">
  <div class="top-bar">
        <div class="logo-section">
            <span class="pulse-dot"></span>
            <h1 class="app-title">Arbitrage <span class="highlight">Pro</span></h1>
        </div>
        
        <button class="logout-btn" (click)="onLogout()">
            <i class="material-icons">power_settings_new</i>
            <span>Выход</span>
        </button>
    </div>

  <table class="arbitrage-table">
    <thead>
      <tr>
        <th>Exchange / Price</th>
        @for (col of prices(); track col.name) {
          <th>{{ col.name }}</th>
        }
      </tr>
    </thead>
    <tbody>
      @for (row of prices(); track row.name) {
        <tr>
          <td class="exchange-info">
            <span class="ex-name">{{ row.name }}</span>
            <span class="ex-price">${{ row.price | number:'1.2-2' }}</span>
          </td>
          
          @for (col of prices(); track col.name) {
            @let diffPct = calculateDiff(row.price, col.price);
            @let diffCash = calculatePriceDiff(row.price, col.price);
            
            <td [ngClass]="{
                'positive': diffPct !== null && diffPct > 0.1,
                'negative': diffPct !== null && diffPct < -0.1,
                'neutral': diffPct !== null && (diffPct >= -0.1 && diffPct <= 0.1),
                'same': diffPct === 0
                }">
            <div class="cell-content">
                <span class="pct-value">
                @if (diffPct !== null && diffPct > 0.1) { <span class="trend-icon">▲</span> }
                @if (diffPct !== null && diffPct < -0.1) { <span class="trend-icon">▼</span> }
                
                {{ diffPct === null ? 'N/A' : (diffPct | number:'1.2-2') + '%' }}
                </span>
                
                @if (diffPct !== 0 && diffPct !== null && diffCash !== null) {
                <span class="cash-value">
                    {{ diffCash > 0 ? '+' : '' }}{{ diffCash | number:'1.2-2' }}$
                </span>
                }
            </div>
            </td>
          }
        </tr>
      }
    </tbody>
  </table>
</div>